# Managed by ansible

set +e

echo "** Preparing GitBucket"

ln -s /gitbucket /root/.gitbucket

echo "########################################################"

echo "** Executing dumb-init"

exec /usr/bin/dumb-init java -jar /opt/gitbucket.war